<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="../static/css/dashboard.css">

    <style>
       @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Jersey+15&display=swap');
        #userlogo {

            height: 24vh;
            width: 54%;
            border-radius: 50%;
            margin-left: 23%;
            padding: 0;
            margin-top: 0;
            box-shadow: 2px 2px 20px 2px rgba(3, 70, 142, 0.927); /* Adjust the rgba values for the shade of blue */
        }

        #list {
            margin-top: 4%;
            padding-top: 5%;
           
            margin-bottom: 4%;
        }
        

        .title {
            
            font-weight: bold;
        }
        .search{
            margin-top: 2%;
        }
        .updateprofile{
            position: absolute;
            top:22%;
            left:63%;
            z-index: 9999;
        }
        .up{
            font-size: 25px;
            color: rgb(40, 118, 171);
            border:none;
           
        }
        #updateButton{
            border-radius: 50%;
            padding: 10%;
            cursor: pointer;
        }
        .navigation ul {
            position: absolute;
            top: 2px;
            left: 0;
            width: 100%;
            }
        
      
    </style>
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation ">
            <div   class="updateprofile">
                <button id="updateButton">  <ion-icon name="create-outline" class="up"></ion-icon></button>
               <input type="file" id="inputImage" accept="image/*"  style="display: none;">
            </div>

            <ul>
                <li id="list">
                    <a href="#">
                        
                            <img src="../static/images/defuser.png" id="userlogo" />

                    </a>
                </li>

                <li>
                    <a href="#" onclick="loadDefaultAdminDashboard();">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Admin Dashboard</span>
                    </a>
                </li>


                <li>
                    <a href="#" onclick="loadCreateAccount();">
                        <span class="icon">
                            <ion-icon name="person"></ion-icon>

                        </span>
                        <span class="title">Create Account</span>
                    </a>
                </li>

                <li>
                    <a href="#" onclick="loadManageuser();">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>

                        </span>
                        <span class="title">Manage Users</span>
                    </a>
                </li>

                <li>
                    <a href="#" onclick="loadGenerateQuiz()">
                        <span class="icon">
                            <ion-icon name="chatbubble-ellipses"></ion-icon>
                        </span>
                        <span class="title">Generate Quizzes</span>
                    </a>
                </li>

                <li>
                    <a href="#" onclick="loadQuizAnalysis();">
                        <span class="icon">
                            <ion-icon name="bar-chart"></ion-icon>
                        </span>
                        <span class="title">Quiz Analysis</span>
                    </a>
                </li>

                <li>
                    <a href="#" onclick="loadViewQuiz();">
                        <span class="icon">
                            <ion-icon name="chatbubble-ellipses"></ion-icon>
                        </span>
                        <span class="title">Manage Quizzes</span>
                    </a>
                </li>

                <li>
                    <a href="#" onclick="loadViewLink();">
                        <span class="icon">
                            <ion-icon name="chatbubble-ellipses"></ion-icon>
                        </span>
                        <span class="title">Manage Links</span>
                    </a>
                </li>

                <li>
                    <a href="/ProfileUpdate" >
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Update Profile</span>
                    </a>
                </li>


                <li>
                    <a href="/logout">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                

                <div class="search">
                    <form onsubmit="loadSearch(); return false;">
                        <label>
                            <input type="text" placeholder="Search based on subject or Index" name="search_data" id="search_data">
                            <button type="submit"><ion-icon name="search-outline"></ion-icon></button>
                        </label>
                    </form>
                </div>

           

                <div class="user">
                    <img src="../static/images/defuser.png" id="userlogo1" />
                </div>
            </div>


            <div id="content" style="height: 100vh; width:10vw; border: 0px;">
                <iframe id="content-iframe" src="/loadDefaultAdminDashContent" style="height: 100vh; width:100vw; border: 0px;"></iframe>

            </div>





        </div>
    </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            var userEmail = "{{ stid }}"; // Get the user's email from the template
    
            // Check if there's a stored profile photo URL for this user
            var storedPhotoURL = localStorage.getItem('profilePhotoURL_' + userEmail);
            if (storedPhotoURL) {
                $('#userlogo').attr('src', storedPhotoURL);
            }
    
            // Trigger click event on the file input when updateButton is clicked
            $('#updateButton').click(function () {
                $('#inputImage').click();
            });
    
            // Handle file input change event
            $('#inputImage').change(function () {
                event.preventDefault(); // Prevent default behavior
                var file = this.files[0]; // Get the selected file
                if (file) {
                    var reader = new FileReader(); // Create a new FileReader object
                    reader.onload = function (e) {
                        // Set the profile photo image source to the selected image
                        $('#userlogo').attr('src', e.target.result);
                        // Save the updated profile photo URL to localStorage
                        localStorage.setItem('profilePhotoURL_' + userEmail, e.target.result);
                    }
                    reader.readAsDataURL(file); // Read the selected file as a data URL
                }
            });
        });
    </script>



    
    
    <script>
        

        function loadDefaultAdminDashboard() {
            // Load the default content into the 'content' div
            document.getElementById('content').innerHTML = '<iframe src="/loadDefaultAdminDashContent" frameborder="0" style="width: 100vw; height: 100%;"></iframe>';
        }

        function loadSearch() {
            // Get the form data
            var searchData = document.getElementById('search_data').value;

            // Construct the URL with query parameters
            var url = "/search?search_data=" + encodeURIComponent(searchData);

            // Load the constructed URL into the iframe
            document.getElementById('content-iframe').src = url;
            document.getElementById('search_data').value="";
        }
        function loadQuizAnalysis() {
            // Load dashboard.html into the content div
            document.getElementById("content").innerHTML = '<iframe src="/loadOverAllAnalysis" frameborder="0" style="width: 100vw; height: 100%;"></iframe>';
        }

        function loadManageuser() {
            // Load other content into the 'content' div
            document.getElementById('content').innerHTML = '<iframe src="/displayUsers" frameborder="0" style="width: 100vw; height: 100%;"></iframe>';
        }

        function loadGenerateQuiz() {
            // Load dashboard.html into the content div
            document.getElementById("content").innerHTML = '<iframe src="/generateQuiz" frameborder="0" style="width: 100vw; height: 100%;"></iframe>';
        }
        function loadViewQuiz() {
            // Load dashboard.html into the content div
            document.getElementById("content").innerHTML = '<iframe src="/viewQuiz" frameborder="0" style="width: 100vw; height: 100%;"></iframe>';
        }

        function loadViewLink() {
            // Load dashboard.html into the content div
            document.getElementById("content").innerHTML = '<iframe src="/manageLinks" frameborder="0" style="width: 100vw; height: 100%;"></iframe>';
        }

      
        function loadCreateAccount() {
            // Load dashboard.html into the content div
            document.getElementById("content").innerHTML = '<iframe src="/adminCreateAccount" frameborder="0" style="width: 100vw; height: 100%;"></iframe>';
        }

        // Additional functions to load other content as needed

        // Initial load of default content

    </script>

    <!-- =========== Scripts =========  -->
    <script src="../static/js/dashboard.js"></script>
    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>