<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/aos.css">
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <!-- Star Rating CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

        #ratehead {
            font-weight: bold;
        }

        .feed {
            font-family: "Anta", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
    </style>
</head>

<body class="bg-gradient-to-r" data-bs-spy="scroll">

    <div class="form-container">

        <section id="contact" class="full-height px-lg-5">
            <div class="container">
                <div class="row justify-content-center text-center ">
                    <div class="col-lg-6 pb-4 feed" data-aos="fade-up">
                        <h6 class="text-brand">Feedback</h6>
                        <h1>How was the Experience? Drop Suggestions</h1>
                    </div>

                    <!-- Star Ratings -->
                    <div class="form-group col-md-12 mb-4">
                        <label for="star-rating" id="ratehead">Rate Your Experience:</label>
                        <span class="fa fa-star" onclick="document.getElementById('rating').value='1'; "></span>
                        <span class="fa fa-star" onclick="document.getElementById('rating').value='2';"></span>
                        <span class="fa fa-star" onclick="document.getElementById('rating').value='3';"></span>
                        <span class="fa fa-star" onclick="document.getElementById('rating').value='4';"></span>
                        <span class="fa fa-star" onclick="document.getElementById('rating').value='5';"></span>
                    </div>

                    <div class="col-lg-8" data-aos="fade-up" data-aos-delay="300">
                        <form id="contactForm" class="row g-lg-3 gy-3">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="name" placeholder="Enter your name">
                            </div>

                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" name="email" placeholder="Enter your email">
                            </div>

                            <div class="form-group col-md-12">
                                <textarea name="message" rows="4" class="form-control"
                                    placeholder="Enter your comments"></textarea>
                            </div>


                            <div class="form-group col-md-12 d-grid">
                                <button type="button" class="btn1 btn-brand rounded-4"
                                    onclick="sendFeedback(); resetStars();">Send Feedback</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section>
    </div>

    <script>
        function resetStars() {
            let stars = document.getElementsByClassName("fa fa-star");
            for (let i = 0; i < stars.length; i++) {
                stars[i].style.color = "black";
            }
        }

        let stars = document.getElementsByClassName("fa fa-star");
        for (let i = 0; i < stars.length; i++) {
            stars[i].addEventListener("click", function () {
                for (let j = 0; j <= i; j++) {
                    stars[j].classList.add("checked");
                    stars[j].style.color = "yellow";
                }
            });
        }

        function sendFeedback() {
            // Here you can send the feedback along with the rating
            // Resetting the stars' color is already called in the onclick event of the button
        }

    </script>

    <script src="./static/js/bootstrap.bundle.min.js"></script>
    <script src="./static/js/aos.js"></script>
    <script src="./static/js/main.js"></script>



</body>

</html>