<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Confirmation</title>
</head>
<body>
    <h1>Logout Confirmation</h1>
    <p>Are you sure you want to logout?</p>
    <form method="post" action="/signOut">
        <input type="hidden" name="confirmed" value="yes">
        <button type="submit">Confirm</button>
       
    </form>
    <form method="post" action="/signOut">
        <input type="hidden" name="notconfirmed" value="no">
        <button type="submit">Cancel</button>
       
    </form>
</body>
</html>
