<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="../static/css/dashboard.css">

    <style>
         #userlogo {

            height: 24vh;
            width: 55%;
            border-radius: 50%;
            margin-left: 23%;
            padding: 0;
            margin-top: 0;
            box-shadow: 2px 2px 20px 2px rgba(3, 70, 142, 0.927); /* Adjust the rgba values for the shade of blue */
        }

        #list {
            margin-top: 10%;
            padding-top: 5%;
        }

        .title {
            font-weight: bold;
        }
        .updateprofile{
            position: absolute;
            top:28%;
            left:63%;
            z-index: 9999;
        }
        .up{
            font-size: 25px;
            color: rgb(40, 118, 171);
            border:none;
           
        }
        #updateButton{
            border-radius: 50%;
            padding: 10%;
            cursor: pointer;
        }
        
     
    </style>
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <div   class="updateprofile">
                <button id="updateButton">  <ion-icon name="create-outline" class="up"></ion-icon></button>
               <input type="file" id="inputImage" accept="image/*"  style="display: none;">
            </div>
         
            <ul>
                <li id="list">
                    <a href="#">
                            <img src="../static/images/defuser.png" id="userlogo" />
                    </a>
                            
                
                </li>

                <li>
                    <a href="#" onclick="loadDefaultStuDashboard();">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Student Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="#" onclick="loadQuizAttempt()">
                        <span class="icon">
                            <ion-icon name="chatbubble-ellipses"></ion-icon>
                        </span>
                        <span class="title">Attempt Quiz</span>
                    </a>
                </li>

                

                <li>
                    <a href="#" onclick="loadQuizGuidelines();">
                        <span class="icon">
                            <ion-icon name="document-text"></ion-icon>
                        </span>
                        <span class="title">Guidelines</span>
                    </a>
                </li>

                <li>
                    <a href="#" onclick="loadQuizAnalysis();">
                        <span class="icon">
                            <ion-icon name="bar-chart"></ion-icon>
                        </span>
                        <span class="title">Quiz Analysis</span>
                    </a>
                </li>

                
                <li>
                    <a href="#" onclick="loadReport();">
                        <span class="icon">
                            <ion-icon name="document-text"></ion-icon>
                        </span>
                        <span class="title">Generate Report</span>
                    </a>
                </li>

                <li>
                    <a href="/ProfileUpdate">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Update Profile</span>
                    </a>
                </li>

                <li>
                    <a href="/logout">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                    <img src="../static/images/defuser.png" id="userlogo1" />
                </div>
            </div>

            <div id="content" style="height: 100vh; width:10vw; border: 0px;">
                {% if request.args.get('subject') == 'sub1' %}
                    <iframe id="content-iframe" src="/attemptQuizSubOne" style="height: 100vh; width:100vw; border: 0px;"></iframe>
                {% elif request.args.get('subject') == 'sub2' %}
                  
                    <iframe id="content-iframe" src="/attemptQuizSubTwo" style="height: 100vh; width:100vw; border: 0px;"></iframe>
                {% elif request.args.get('subject') == 'sub3' %}
                <iframe id="content-iframe" src="/attemptQuizSubThree" style="height: 100vh; width:100vw; border: 0px;"></iframe>
                {% elif request.args.get('subject') == 'sub4' %}
                <iframe id="content-iframe" src="/attemptQuizSubFour" style="height: 100vh; width:100vw; border: 0px;"></iframe>
                {% else %}
                    <iframe id="content-iframe" src="/loadDefaultStudentDashContent" style="height: 100vh; width:100vw; border: 0px;"></iframe>
                    <!-- Handle other cases -->
                {% endif %}
            </div>
            
            

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            var userEmail = "{{ stid }}"; // Get the user's email from the template
    
            // Check if there's a stored profile photo URL for this user
            var storedPhotoURL = localStorage.getItem('profilePhotoURL_' + userEmail);
            if (storedPhotoURL) {
                $('#userlogo').attr('src', storedPhotoURL);
            }
    
            // Trigger click event on the file input when updateButton is clicked
            $('#updateButton').click(function () {
                $('#inputImage').click();
            });
    
            // Handle file input change event
            $('#inputImage').change(function () {
                event.preventDefault(); // Prevent default behavior
                var file = this.files[0]; // Get the selected file
                if (file) {
                    var reader = new FileReader(); // Create a new FileReader object
                    reader.onload = function (e) {
                        // Set the profile photo image source to the selected image
                        $('#userlogo').attr('src', e.target.result);
                        // Save the updated profile photo URL to localStorage
                        localStorage.setItem('profilePhotoURL_' + userEmail, e.target.result);
                    }
                    reader.readAsDataURL(file); // Read the selected file as a data URL
                }
            });
        });
    </script>
    

      <!-- =========== Scripts =========  -->
    <script>

        function loadDefaultStuDashboard() {
            // Load the default content into the 'content' div
            document.getElementById('content').innerHTML = '<iframe src="/loadDefaultStudentDashContent" frameborder="0" style="width: 100vw; height: 100%;"></iframe>';
        }

       
        function loadQuizAttempt() {
            // Load dashboard.html into the content div
            document.getElementById("content").innerHTML = '<iframe src="/quiz" frameborder="0" style="width: 100vw; height: 100%;"></iframe>';
        }

        function loadQuizGuidelines() {
            // Load dashboard.html into the content div
            document.getElementById("content").innerHTML = '<iframe src="/loadGuidelines" frameborder="0" style="width: 100vw; height: 100%;"></iframe>';
        }

        function loadQuizAnalysis() {
            // Load dashboard.html into the content div
            document.getElementById("content").innerHTML = '<iframe src="/loadAnalysis" frameborder="0" style="width: 100vw; height: 100%;"></iframe>';
        }

        function loadReport() {
            // Load dashboard.html into the content div
            document.getElementById("content").innerHTML = '<iframe src="/generateQuizReport" frameborder="0" style="width: 100vw; height: 100%;"></iframe>';
        }

     

        // Additional functions to load other content as needed

        // Initial load of default content

    </script>
  
    <script src="../static/js/dashboard.js"></script>
    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>